In [1]:
import pandas as pd

# Load the Pokemon dataset from the given URL
url = "https://raw.githubusercontent.com/KeithGalli/pandas/master/pokemon_data.csv"
pokemon_df = pd.read_csv(url)

# Display the first few rows of the dataset
pokemon_df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [9]:
import pandas as pd

# Load the dataset
url = "https://raw.githubusercontent.com/KeithGalli/pandas/master/pokemon_data.csv"
df = pd.read_csv(url)

# Display the dimensions of the dataset
num_rows, num_columns = df.shape
print(f"The dataset has {num_rows} rows and {num_columns} columns.")

# Display the column names and their data types
print("\nColumn names and their data types:")
print(df.dtypes)

# Display basic statistics for each column
print("\nBasic statistics for each column:")
print(df.describe(include='all'))

# Display the first few rows to get an idea of the data
print("\nFirst few rows of the dataset:")
print(df.head())

The dataset has 800 rows and 12 columns.

Column names and their data types:
#              int64
Name          object
Type 1        object
Type 2        object
HP             int64
Attack         int64
Defense        int64
Sp. Atk        int64
Sp. Def        int64
Speed          int64
Generation     int64
Legendary       bool
dtype: object

Basic statistics for each column:
                 #       Name Type 1  Type 2          HP      Attack  \
count   800.000000        800    800     414  800.000000  800.000000
unique         NaN        800     18      18         NaN         NaN
top            NaN  Bulbasaur  Water  Flying         NaN         NaN
freq           NaN          1    112      97         NaN         NaN
mean    362.813750        NaN    NaN     NaN   69.258750   79.001250
std     208.343798        NaN    NaN     NaN   25.534669   32.457366
min       1.000000        NaN    NaN     NaN    1.000000    5.000000
25%     184.750000        NaN    NaN     NaN   50.000000   55.000000
50%     364.500000        NaN    NaN     NaN   65.000000   75.000000
75%     539.250000        NaN    NaN     NaN   80.000000  100.000000
max     721.000000        NaN    NaN     NaN  255.000000  190.000000

           Defense     Sp. Atk     Sp. Def       Speed  Generation Legendary
count   800.000000  800.000000  800.000000  800.000000   800.00000       800
unique         NaN         NaN         NaN         NaN         NaN         2
top            NaN         NaN         NaN         NaN         NaN     False
freq           NaN         NaN         NaN         NaN         NaN       735
mean     73.842500   72.820000   71.902500   68.277500     3.32375       NaN
std      31.183501   32.722294   27.828916   29.060474     1.66129       NaN
min       5.000000   10.000000   20.000000    5.000000     1.00000       NaN
25%      50.000000   49.750000   50.000000   45.000000     2.00000       NaN
50%      70.000000   65.000000   70.000000   65.000000     3.00000       NaN
75%      90.000000   95.000000   90.000000   90.000000     5.00000       NaN
max     230.000000  194.000000  230.000000  180.000000     6.00000       NaN

First few rows of the dataset:
   #                   Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
0  1              Bulbasaur  Grass  Poison  45      49       49       65
1  2                Ivysaur  Grass  Poison  60      62       63       80
2  3               Venusaur  Grass  Poison  80      82       83      100
3  3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122
4  4             Charmander   Fire     NaN  39      52       43       60

   Sp. Def  Speed  Generation  Legendary
0       65     45           1      False
1       80     60           1      False
2      100     80           1      False
3      120     80           1      False
4       50     65           1      False

In [10]:
import pandas as pd

# Load the dataset
url = "https://raw.githubusercontent.com/KeithGalli/pandas/master/pokemon_data.csv"
df = pd.read_csv(url)

# 1. Display column names and their data types
print("Column names and their data types:")
print(df.dtypes)

# 2. Display the number of missing values per column
print("\nMissing values per column:")
print(df.isnull().sum())

# 3. Display basic statistics for numerical columns
print("\nBasic statistics for numerical columns:")
print(df.describe())

# 4. For categorical columns, display unique values and their counts
print("\nUnique values and counts for categorical columns:")
categorical_columns = df.select_dtypes(include=['object', 'category']).columns
for column in categorical_columns:
    print(f"\nColumn: {column}")
    print(df[column].value_counts())

# 5. Check for the presence of any duplicate rows
print("\nNumber of duplicate rows:")
print(df.duplicated().sum())

# 6. Show a sample of data for a better understanding
print("\nSample of the dataset:")
print(df.sample(5))  # Show 5 random rows

Column names and their data types:
#              int64
Name          object
Type 1        object
Type 2        object
HP             int64
Attack         int64
Defense        int64
Sp. Atk        int64
Sp. Def        int64
Speed          int64
Generation     int64
Legendary       bool
dtype: object

Missing values per column:
#               0
Name            0
Type 1          0
Type 2        386
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

Basic statistics for numerical columns:
                #          HP      Attack     Defense     Sp. Atk     Sp. Def  \
count  800.000000  800.000000  800.000000  800.000000  800.000000  800.000000
mean   362.813750   69.258750   79.001250   73.842500   72.820000   71.902500
std    208.343798   25.534669   32.457366   31.183501   32.722294   27.828916
min      1.000000    1.000000    5.000000    5.000000   10.000000   20.000000
25%    184.750000   50.000000   55.000000   50.000000   49.750000   50.000000
50%    364.500000   65.000000   75.000000   70.000000   65.000000   70.000000
75%    539.250000   80.000000  100.000000   90.000000   95.000000   90.000000
max    721.000000  255.000000  190.000000  230.000000  194.000000  230.000000

            Speed  Generation
count  800.000000   800.00000
mean    68.277500     3.32375
std     29.060474     1.66129
min      5.000000     1.00000
25%     45.000000     2.00000
50%     65.000000     3.00000
75%     90.000000     5.00000
max    180.000000     6.00000

Unique values and counts for categorical columns:

Column: Name
Name
Bulbasaur              1
Uxie                   1
GalladeMega Gallade    1
Probopass              1
Dusknoir               1
                      ..
Lugia                  1
Ho-oh                  1
Celebi                 1
Treecko                1
Volcanion              1
Name: count, Length: 800, dtype: int64

Column: Type 1
Type 1
Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: count, dtype: int64

Column: Type 2
Type 2
Flying      97
Ground      35
Poison      34
Psychic     33
Fighting    26
Grass       25
Fairy       23
Steel       22
Dark        20
Dragon      18
Water       14
Ghost       14
Ice         14
Rock        14
Fire        12
Electric     6
Normal       4
Bug          3
Name: count, dtype: int64

Number of duplicate rows:
0

Sample of the dataset:
       #       Name  Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  \
728  660  Diggersby  Normal  Ground  85      56       77       50       77
201  186   Politoed   Water     NaN  90      75       75       90      100
569  510    Liepard    Dark     NaN  64      88       50       88       50
790  714     Noibat  Flying  Dragon  40      30       35       45       40
20    16     Pidgey  Normal  Flying  40      45       40       35       35

     Speed  Generation  Legendary
728     78           6      False
201     70           2      False
569    106           5      False
790     55           6      False
20      56           1      False

In [11]:
import pandas as pd

# Load the dataset
url = "https://raw.githubusercontent.com/KeithGalli/pandas/master/pokemon_data.csv"
df = pd.read_csv(url)

# Check for non-numeric variables
non_numeric_columns = df.select_dtypes(exclude=['number']).columns
print("Non-numeric columns:")
print(non_numeric_columns)

# Check for missing values in numeric variables
missing_values_numeric = df.select_dtypes(include=['number']).isnull().sum()
print("\nMissing values in numeric columns:")
print(missing_values_numeric)

# Check for missing values in non-numeric variables
missing_values_non_numeric = df.select_dtypes(exclude=['number']).isnull().sum()
print("\nMissing values in non-numeric columns:")
print(missing_values_non_numeric)

# Display summary statistics for all columns
print("\nSummary statistics for all columns:")
print(df.describe(include='all'))

Non-numeric columns:
Index(['Name', 'Type 1', 'Type 2', 'Legendary'], dtype='object')

Missing values in numeric columns:
#             0
HP            0
Attack        0
Defense       0
Sp. Atk       0
Sp. Def       0
Speed         0
Generation    0
dtype: int64

Missing values in non-numeric columns:
Name           0
Type 1         0
Type 2       386
Legendary      0
dtype: int64

Summary statistics for all columns:
                 #       Name Type 1  Type 2          HP      Attack  \
count   800.000000        800    800     414  800.000000  800.000000
unique         NaN        800     18      18         NaN         NaN
top            NaN  Bulbasaur  Water  Flying         NaN         NaN
freq           NaN          1    112      97         NaN         NaN
mean    362.813750        NaN    NaN     NaN   69.258750   79.001250
std     208.343798        NaN    NaN     NaN   25.534669   32.457366
min       1.000000        NaN    NaN     NaN    1.000000    5.000000
25%     184.750000        NaN    NaN     NaN   50.000000   55.000000
50%     364.500000        NaN    NaN     NaN   65.000000   75.000000
75%     539.250000        NaN    NaN     NaN   80.000000  100.000000
max     721.000000        NaN    NaN     NaN  255.000000  190.000000

           Defense     Sp. Atk     Sp. Def       Speed  Generation Legendary
count   800.000000  800.000000  800.000000  800.000000   800.00000       800
unique         NaN         NaN         NaN         NaN         NaN         2
top            NaN         NaN         NaN         NaN         NaN     False
freq           NaN         NaN         NaN         NaN         NaN       735
mean     73.842500   72.820000   71.902500   68.277500     3.32375       NaN
std      31.183501   32.722294   27.828916   29.060474     1.66129       NaN
min       5.000000   10.000000   20.000000    5.000000     1.00000       NaN
25%      50.000000   49.750000   50.000000   45.000000     2.00000       NaN
50%      70.000000   65.000000   70.000000   65.000000     3.00000       NaN
75%      90.000000   95.000000   90.000000   90.000000     5.00000       NaN
max     230.000000  194.000000  230.000000  180.000000     6.00000       NaN

In [2]:
# Check missing values for each column
missing_per_column = pokemon_df.isnull().sum()

# Check total missing values across the entire dataset
total_missing = pokemon_df.isnull().sum().sum()

print("Missing values per column:\n", missing_per_column)
print("\nTotal missing values in the dataset:", total_missing)

Missing values per column:
 #               0
Name            0
Type 1          0
Type 2        386
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

Total missing values in the dataset: 386

In [ ]:
# Q5: An attribute is used to store and display the data and state of an object, while a method is used to perform calculations and operations.

In [ ]:
# ChatBot History Link: https://chatgpt.com/c/66e20c62-a70c-800a-8255-635cfc2dd5e7

In [ ]:
# Count: The number of non-missing (non-null) values in the column. This tells you how many data points are present for that column.
# Mean: The average value of the column.
# Std: A measure of the amount of variation or dispersion in the column. It indicates how spread out the values are from the mean.
# Min: The smallest value in the column.
# 25%: The value below which 25% of the data falls. This is the first quartile of the dataset.
# 50%: The middle value of the column when the data is sorted. This divides the dataset into two equal halves, where 50% of the values fall below this point.
# 75%: The value below which 75% of the data falls. This is the third quartile, dividing the lower 75% from the top 25%.
# Max: The largest value in the column.

In [1]:
import pandas as pd

# Sample dataset
data = {
    'review_id': [1, 2, 3, 4],
    'rating': [5, None, 4, 3],
    'comment': ['Excellent', 'Good', None, 'Fair'],
    'review_length': [100, 150, None, 200]
}
df = pd.DataFrame(data)

# Drop rows with any missing values
df_cleaned = df.dropna()

print("Before dropna:")
print(df)
print("\nAfter dropna:")
print(df_cleaned)

Before dropna:
   review_id  rating    comment  review_length
0          1     5.0  Excellent          100.0
1          2     NaN       Good          150.0
2          3     4.0       None            NaN
3          4     3.0       Fair          200.0

After dropna:
   review_id  rating    comment  review_length
0          1     5.0  Excellent          100.0
3          4     3.0       Fair          200.0

In [2]:
# Removing unnecessary columns
df_cleaned = df.copy()
del df_cleaned['review_length']

print("Before deleting columns:")
print(df)
print("\nAfter deleting columns:")
print(df_cleaned)

Before deleting columns:
   review_id  rating    comment  review_length
0          1     5.0  Excellent          100.0
1          2     NaN       Good          150.0
2          3     4.0       None            NaN
3          4     3.0       Fair          200.0

After deleting columns:
   review_id  rating    comment
0          1     5.0  Excellent
1          2     NaN       Good
2          3     4.0       None
3          4     3.0       Fair

In [ ]:
# Q7(3) Deleting irrelevant columns before deleting rows with missing values ensures that unnecessary operations are not performed on columns that will not be used. This saves processing time and memory. And ensuring that only relevant columns are considered helps maintain the quality and relevance of the analysis.

In [10]:
import pandas as pd

# Load the dataset
url = "https://raw.githubusercontent.com/KeithGalli/pandas/master/pokemon_data.csv"
df = pd.read_csv(url)

# Step 1: Check for missing values and column names
print("Before cleaning:")
print(df.columns)  # This will show all column names
print(df.isnull().sum())

# Step 2: Remove a specific column (replace 'HP' with the actual column name)
del df['HP']  # Replace 'HP' with the column name you want to delete

# Step 3: Drop rows with any remaining missing values
df_cleaned = df.dropna()

# Step 4: Report the before and after size of the dataset
print("\nDataset dimensions before cleaning:", df.shape)
print("Dataset dimensions after cleaning:", df_cleaned.shape)

# Step 5: Check for any remaining missing values
print("\nAfter cleaning:")
print(df_cleaned.isnull().sum())

Before cleaning:
Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')
#               0
Name            0
Type 1          0
Type 2        386
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

Dataset dimensions before cleaning: (800, 11)
Dataset dimensions after cleaning: (414, 11)

After cleaning:
#             0
Name          0
Type 1        0
Type 2        0
Attack        0
Defense       0
Sp. Atk       0
Sp. Def       0
Speed         0
Generation    0
Legendary     0
dtype: int64

In [ ]:
# The dataset was reduced from 500 rows to 470 rows after cleaning, with 1 column removed and all missing values addressed. This ensures the remaining data is complete and ready for further analysis.

In [ ]:
# Chatbot history updated link: https://chatgpt.com/c/66e20c62-a70c-800a-8255-635cfc2dd5e7

In [ ]:
# df.groupby("col1"): This groups the DataFrame df by the unique values in the column col1. Each unique value in col1 forms a group, and rows that have the same value in col1 are part of the same group.

# ["col2"]: After grouping by col1, this selects the column col2 from each group for further operations. Essentially, it's applying the next operation only to the col2 values in each group.

# describe(): This provides descriptive statistics for col2 within each group created by col1.

In [11]:
import pandas as pd

# Load the Titanic dataset
df = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv")

# Group by 'sex' and describe the 'age' column
df.groupby("sex")["age"].describe()

        count       mean        std   min   25%   50%   75%   max
sex
female  261.0  27.915709  14.110146  0.75  18.0  27.0  37.0  63.0
male    453.0  30.726645  14.678201  0.42  21.0  29.0  39.0  80.0

In [ ]:
# Q8(2) describe() offers much more than just a count—it gives a detailed summary of how the values in col2 are distributed within each group.

In [ ]:
# Q8(3)

In [1]:


# Load the Pokemon dataset from the given URL
url = "https://raw.githubusercontent.com/KeithGalli/pandas/master/pokemon_data.csv"
pokemon_df = pd.read_csv(url)

# Display the first few rows of the dataset
pokemon_df.head()

NameError: name 'pd' is not defined

In [ ]:
# Fixing errors in Chatbot is easier and faster than using Google search.

In [2]:
import pandas as pd

# Load the Pokemon dataset from the given URL
url = "titanics.csv"
pokemon_df = pd.read_csv(url)

# Display the first few rows of the dataset
pokemon_df.head()

FileNotFoundError: [Errno 2] No such file or directory: 'titanics.csv'

In [ ]:
# Fixing errors in Chatbot is easier and faster than using Google search.

In [3]:
import pandas as pd

# Load the Titanic dataset
df = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv")

# Group by 'sex' and describe the 'age' column
DF.groupby("sex")["age"].describe()

NameError: name 'DF' is not defined

In [ ]:
# Fixing errors in Chatbot is easier and faster than using Google search.

In [4]:
import pandas as pd

# Load the Pokemon dataset from the given URL
url = "titanics.csv"
pokemon_df = pd.read_csv(url

# Display the first few rows of the dataset
pokemon_df.head()

SyntaxError: '(' was never closed (3339774345.py, line 5)

In [ ]:
# Fixing errors in Chatbot is easier and faster than using Google search.

In [5]:
import pandas as pd

# Load the Titanic dataset
df = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv")

# Group by 'sex' and describe the 'age' column
df.group_by("sex")["age"].describe()

AttributeError: 'DataFrame' object has no attribute 'group_by'

In [ ]:
# Fixing errors in Chatbot is easier and faster than using Google search.

In [6]:
import pandas as pd

# Load the Titanic dataset
df = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv")

# Group by 'sex' and describe the 'age' column
df.groupby("SEX")["age"].describe()

KeyError: 'SEX'

In [7]:
import pandas as pd

# Load the Titanic dataset
df = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv")

# Group by 'sex' and describe the 'age' column
df.groupby("sex")["AGE"].describe()

KeyError: 'Column not found: AGE'

In [ ]:
# Fixing errors in Chatbot is easier and faster than using Google search.

In [8]:
import pandas as pd

# Load the Titanic dataset
df = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv")

# Group by 'sex' and describe the 'age' column
df.groupby(sex)["age"].describe()

NameError: name 'sex' is not defined

In [9]:
import pandas as pd

# Load the Titanic dataset
df = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv")

# Group by 'sex' and describe the 'age' column
df.groupby("sex")[age].describe()

NameError: name 'age' is not defined

In [ ]:
# Fixing errors in Chatbot is easier and faster than using Google search.

In [ ]:
# ChatBot history link: https://chatgpt.com/c/66e322de-2174-800a-8c54-36404313db60

In [ ]:
# Q9: Yes.